* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.sec1 {
    height: 100vh;
    width: 100%;
    background-color: #FFFFF2;
}
.sec2 {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
}
.menu {
    position: fixed;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(51, 51, 30);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu1 {
    color: white;
}
.menu2 {
    color: white;
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
}
.equipe {
    height: 300px;
    width: 20%;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    margin-top: 10%;
    background: rgba(51, 170, 51, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.outils {
    height: 300px;
    width: 20%;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    background: rgba(51, 170, 51, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.difficulte {
    height: 300px;
    width: 20%;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    background: rgba(51, 170, 51, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.difficulte .titre1 {
    font-size: 1.25em;
}
.change {
    height: 300px;
    width: 20%;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    background: rgba(51, 170, 51, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    min-width: 300px;
    height: 500px;
    background: #f1f1f1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 40px;
}

.container-onglets{
    background: #f1f1f1;
    width: 100%;
    height: 150px;
    display: flex;
    border-radius: 40px;
}
.onglets {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
}

.contenu {
    height: 350px;
    width: 100%;
    top: 30%;
    position: absolute;
    opacity: 0;
}
.contenu h3 {
    padding: 20px;
    color: #252627;
}
.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background: #252627;
    border: none;
}
.contenu p {
    padding: 20px;
    color: #252627;
}

/* Anim */

.active {
    background: #BB0A21;
    color: #f1f1f1;
    transition: all 0.3s ease;
}

.activeContenu {
    animation: fade 0.5s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}