* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body.light {
  background-color: #f1f1f1;
  transition: all 0.5s ease;
}
.sec1 {
    height: 100vh;
    width: 100%;
}
body.dark {
  background-color: rgb(34, 33, 42);
  transition: all 0.5s ease;
}
/*
? boite de dialogue début
*/
.box {
  z-index: 30;
  position: fixed;
  bottom: 10%;
  right: 10%;
  transform: translate(-10%, -10%);
}
.notification {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.notification:hover {
  background: #bb0a21;
}
.notification .bxs-bell {
  position: fixed;
  top: 15px;
  left: 15px;
  color: rgb(34, 33, 42);
  line-height: 30px;
  font-size: 30px;
}
.notification:hover .bxs-bell {
  color: #fff;
}
.notification .num {
  position: fixed;
  top: 0;
  right: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #bb0a21;
  color: #fff;
  line-height: 25px;
  font-family: sans-serif;
  text-align: center;
}
.notification.open {
  width: 400px;
  height: 60px;
  text-align: left;
  padding: 0 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #bb0a21;
}
.notification.open .bxs-bell {
  color: #fff;
}
.notification.open .num {
  position: fixed;
  background: transparent;
  color: rgb(34, 33, 42);
  font-size: 24px;
  left: 12%;
  top: 30%;
}
.notification.open .num::after {
  content: " - Notication";
  position: fixed;
  bottom: 30%;
  left: 19%;
}
@media (max-width: 500px) {
  .notification.open {
    width: 200px;
    height: 60px;
    text-align: left;
    padding: 0 15px;
  }
  .notification.open .num {
    left: 21%;
  }
  .notification.open .num::after {
    left: unset;
  }
}
ul {
  position: fixed;
  right: 0.2px;
  bottom: 60px;
  margin: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: none;
}
.notification.open ul {
  display: block;
}
ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  display: flex;
}
ul li:last-child {
  border-bottom: none;
}
ul li .icon {
  width: 24px;
  height: 24px;
  color: orange;
  text-align: center;
  margin-right: 15px;
}
ul li .text {
  position: relative;
  font-family: sans-serif;
}
/*
? boite de dialogue fin
*/
/*
? menu début
*/
.menu {
  position: fixed;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #252627;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: all 0.5s ease;
}
.close-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu.large {
  height: 100px;
}
.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
}
.bx-menu {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.bx-x {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.main-menu {
  width: 65%;
  min-width: 200px;
  max-width: 700px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.menu1 {
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 130px;
  background: transparent;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  padding: 10px;
  /* background: transparent;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px ridge rgb(42, 42, 46); */
}
.menu1 span {
  position: relative;
  z-index: 1;
}
.menu1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #7604c2;
  transition: width 0.5s, height 0.5s;
}
.menu1:hover::before {
  width: 400px;
  height: 400px;
}
.menu2 {
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 130px;
  background: transparent;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  padding: 10px;
}
.menu2 span {
  position: relative;
  z-index: 1;
}
.menu2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #7604c2;
  transition: width 0.5s, height 0.5s;
}
.menu2:hover::before {
  width: 400px;
  height: 400px;
}
.theme-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
}
.bx-sun {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.bx-moon {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.open-menu {
  position: fixed;
  height: 50px;
  width: 100%;
  /* background-color: #bb0a21; */
  top: -50px;
  display: flex;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
}
.open-menu-large {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 50px;
  display: flex;
  z-index: 10;
  opacity: 1;
  transition: all 0.5s ease;
}
.menu-content2 {
  height: 50px;
  width: 15%;
  min-width: 130px;
  /* background-color: #550611; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.connect {
  height: 100%;
  width: 10%;
  max-width: 100px;
  min-width: 50px;
}
.disconnect {
  height: 100%;
  width: 10%;
  max-width: 100px;
  min-width: 50px;
}
.bx-user {
  color: white;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  cursor: pointer;
}
.tooltip1 {
  position: absolute;
  top: 60px;
  display: none;
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  color: #252627;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.connect:hover .tooltip1 {
  display: block;
  transition: 0.5s;
}
.bx-wifi-off {
  color: white;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  padding-top: 10px;
}
.tooltip {
  position: absolute;
  top: 60px;
  display: none;
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  color: #252627;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.disconnect:hover .tooltip {
  display: block;
  transition: 0.5s;
}
/*
! menu fin
*/
/*
? section 1 debut
*/
.sec1 {
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-width: 300px;
  height: 700px;
  background: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 3px;
}
.container-onglets {
  background: #f1f1f1;
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 40px;
}
.onglets {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
}
.contenu {
  height: 350px;
  width: 100%;
  top: 30%;
  position: absolute;
  opacity: 0;
}
.contenu h3 {
  padding: 20px;
  color: #252627;
}
.contenu hr {
  width: 20%;
  height: 2px;
  margin-left: 20px;
  background: #252627;
  border: none;
}
.contenu p {
  padding: 20px;
  color: #252627;
}
/* Anim */
.active {
  background: #bb0a21;
  color: #f1f1f1;
  transition: all 0.3s ease;
}
.activeContenu {
  animation: fade 0.5s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
! section 1 fin
*/
/*
? section 2 début
*/
.sec2 {
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.equipe {
  height: 300px;
  width: 20%;
  min-width: 250px;
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  margin-right: 5%;
  background: rgba(51, 170, 51, 0.6);
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease;
}
.equipe-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipe-container-1 {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.equipe:hover .equipe-container-1 {
  transform: translateY(-100px);
  transition: all 0.5s ease;
}
/* .equipe:hover {
  transform: rotateY(180deg);
  transition: all 0.5s ease;
}
.equipe:hover h1 {
  display: none;
} */
.outils {
  height: 300px;
  width: 20%;
  min-width: 250px;
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  margin-right: 5%;
  background: rgba(51, 170, 51, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.difficulte {
  height: 300px;
  width: 20%;
  min-width: 250px;
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  margin-right: 5%;
  background: rgba(51, 170, 51, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.difficulte .titre1 {
  font-size: 1.25em;
}
.change {
  height: 300px;
  width: 20%;
  min-width: 250px;
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  margin-right: 0;
  background: rgba(51, 170, 51, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*
! section 2 fin
*/

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-width: 300px;
  height: 500px;
  background: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.container-onglets {
  background: #f1f1f1;
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 40px;
}
.onglets {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
}

.contenu {
  height: 350px;
  width: 100%;
  top: 30%;
  position: absolute;
  opacity: 0;
}
.contenu h3 {
  padding: 20px;
  color: #252627;
}
.contenu hr {
  width: 20%;
  height: 2px;
  margin-left: 20px;
  background: #252627;
  border: none;
}
.contenu p {
  padding: 20px;
  color: #252627;
}

.myChart{
  width: 20%;
  display: flex;
}

/* Anim */

.active {
  background: #bb0a21;
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.activeContenu {
  animation: fade 0.5s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
